@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&family=IBM+Plex+Mono:wght@400;500;700&display=swap');
:root {
    --border-gray: 2px rgb(97, 94, 94) solid;
    --border-black: 2px solid black;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}
.search-notes input, .add-notes textarea, .add-notes input, .btn-submit button {
    font-family: 'Comfortaa', cursive;
}
h1 {
    font-family: 'IBM Plex Mono', monospace;
}
#notes {
    margin-left: 2rem;
    margin-top: 1rem;
}
header {
    display: flex;
    align-items: center;
}
main {
    width: 100%;
    margin-inline: auto;
    margin-left: -1rem;
}

.search-notes input  {
    width: -webkit-fill-available;
    height: 2rem;
    border: var(--border-gray);
    border-radius: 5px;
    padding-left: 1rem;
    font-size: 16px;
    font-weight: bold;
}

.search-notes {
    width: min(500px, 90%);
    margin-inline:auto; 
}

.add-notes{
    width: min(800px, 90%);
    margin-top: 2rem;
    margin-inline: auto;
    border-radius: 5px;
    color:white
}
.add-notes, .add-notes input, .add-notes textarea, .add-notes button, .add-notes ::placeholder {
    color: white;
}
.add-notes input:focus, .add-notes textarea:focus, .search-notes input:focus {
    outline: none;
}
.add-notes input {
    height: 2rem;
    padding-top: 2rem;
    
}
.add-notes p {
    color: red;
    font-weight: 700;
    background-color: white;
    width: fit-content;
    margin-left: 1rem;
}
.add-notes .rounded {
    margin-left: 1rem;
    margin-top: 1rem;
}

.rounded {
    position: absolute;
    text-align: center;
    line-height: 2rem;
    right: 1rem;
    border-radius: 100%;
    width:2rem;
    height: 2rem;
}
.color-picker * {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
    border-radius: 100%;
}
.color-picker {
    position: absolute;
    display: flex;
    bottom: 1rem;
    left: 2.5rem;
}
.add-notes {
    position: relative;
}
.add-notes textarea, .add-notes input {
    width: -webkit-fill-available;
    border: none;
    font-size: 16px;
    padding-left: 1rem;
    font-weight:bold;
    margin-top: 1rem;
}
.btn-logo img {
    width: 2rem;
    display: flex;
}
.btn-logo {
    display: flex;
    justify-content: space-between;
    width: 12%;
    
}
.button-area {
    display: flex;
    align-items: center;
    margin-inline: 1rem;
    padding-bottom: 1rem;
    width:-webkit-fill-available;
    justify-content: space-between;
}
.btn-submit {
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
}
.btn-submit button {
    background-color: white;
    border: none;
    font-weight: bold;
    font-size: 16px;
}
.btn-submit button:hover {
    cursor: pointer;
}
.note-item {
    padding-inline: 1rem;
    padding-bottom: 3rem;
    color: white;
    position: relative;
}
.note-items {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
}
.btn-note-icon img {
    width: 1.5rem;
}
.btn-note-icon {
    display: flex;
    justify-content: space-between;
    width: 30%;
    position: absolute;
    bottom: 1rem;
}
 .note-color:hover, .note-archive:hover, .note-delete:hover {
    padding: 2px;
    background-color: rgba(214, 211, 211, 0.3);
    border-radius: 100%;
}

@media (max-width: 500px) {
    header {
        display: block;
    }
    .note-items {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .button-area {
        display: block;
    }
}
@media (min-width: 500px) and (max-width:1000px) {
    .note-items {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
@media (max-width: 600px) {
    .color-picker {
        bottom: 5rem;
        margin-left: -1rem;
    }
    .color-picker * {
        margin-left: 0.5rem;
    }
}